@charset "UTF-8";
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdd000;
    height: 70px;
  }
  
  /* 標題設定 */
  .heander_index_title {
    color: #694a3a;
  }
  
  .heander_index_title > h1{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: oblique;
    font-size: 2.8rem;
  }
  
  /*會員圖標設定 */
  .heander_index_title:link {
    text-decoration:none;
  }
  
  .heander_index_title:hover {
    color: #694a3a;
  }
  
  .header_main {
    display: flex;
    flex-direction: row;
  }
  
  .header_main > div {
    display: flex;
    align-items: center;
  }
  
  .header_form_wrap {
    display: flex;
    justify-content: center;
  }
  
  .header_form_content {
    display: flex;
    flex-direction: row;
  }
  
  .header_input_text {
    width: 750px;
    height: 39px;
    size: 1rem;
    font-size: 1rem;
    font-weight: 400;
  }
  
  .header_btn_search {
    color: white;
    width: 45px;
    border: 1px rgb(145, 144, 144) solid;
    background-color: #694a3a;
  }
  
  .header_btn_login {
    background-color: #fdd000;
    color: #694a3a;
    border: 1px #694a3a solid;
    margin-right: 15px;
    /* height: 16px; */
  }
  
  .header_btn_login:hover {
    background-color: #694a3a;
    color: white;
  }
  
  .header_btn_cart_wrap{
    font-size: 20px;
  }
  
  .header_btn_cart {
    color: #694a3a;
  }
  
  .header_btn_cart:hover{
    cursor: pointer;
  }
  
  /*  */
  .header_btn_member {
    font-size: 18px;
    margin-right: 15px;
    color: #694a3a;
  }
  
  .header_operation_wrap {
    display: flex;
    justify-content: flex-end;
  }
.footer_main {
    margin: 0;
    /* margin-left: 40px; */
}
footer {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    bottom: 0;
    background-color: #31384A;
    opacity: 1;
    height: 400px;
}
.footer_main a {
    text-decoration: none;
    color: #CCCCCC;
}

.footer_item > ul {
    padding-left: 0;
}

.footer_item > ul > li{
    list-style: none;
}

.footer_item > h4 {
    /* padding-left: 73px; */
    color: #95C8CD;
}

.footer_item > ul > li:hover {
    text-decoration: none;
}
.toTop-arrow {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 33%;
    opacity: 0.6;
    background: #000;
    cursor: pointer;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
}

.toTop-arrow::before,
.toTop-arrow::after {
    width: 18px;
    height: 5px;
    border-radius: 3px;
    background: #f90;
    position: absolute;
    content: "";
}

.toTop-arrow::before {
    transform: rotate(-45deg) translate(0, -50%);
    left: 0.5rem;
}

.toTop-arrow::after {
    transform: rotate(45deg) translate(0, -50%);
    right: 0.5rem;
}

.toTop-arrow:focus {
    outline: none;
}


a{
    text-decoration: none;
}
 .index_list_ul{
    list-style-type: none;
    padding-left: 0%;
   
}
.dot{
    border: 1px solid #ecebeb;;
    margin-right: 15px;
    font-size: 20px;
}
b{
    color: red;
}
h3 > a{
    font-size: 15px;
}
h2{
    font-size: 30px; 
    font-style: oblique;
}