
/* -------------------------------------------------------- */
/* 共用的元件 */
/* -------------------------------------------------------- */

/* 大標題 (含底線) */
.big_title_wrap {
  margin-bottom: 16px;
}

.big_title {
  font-size: 30px;
  padding-left: 0;
  margin: 0;
  font-weight: bold;
  border-bottom: 5px solid #1b6180;;
}

.order_main{
	margin-top: 25px;
	padding-left: 24px;
	padding-right: 24px;
}

/* -------------------------------------------------------- */
/* 訂單的「商品內容」 */
/* -------------------------------------------------------- */
.order_product_content {
  padding-left: 24px;
  padding-right: 24px;
}

.order_product_content > ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0;
}

.order_product_content ul li {
  list-style-type: none;
  text-align: center;
}

/* 設定購物車標題的樣式 */
.product_content_header {
}

.product_content_header li {
  border: 1px solid #d8d8d8;
  background-color: #b8292f;
  font-weight: bold;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.product_content_header > li > .btn-warning {
  border: 1px solid #d8d8d8;
  background-color: #b8292f;
  font-weight: bold;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

#checkout {
  font-weight: bold;
  width: 100px;
  /* color: white; */
}

/* 設定圖片的排版 */
.productList_img_area {
  display: flex;
  flex-direction: row;
}

.productList_img {
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 128px;
  height: 128px;
}

.productList_title_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.productList_title {
  display: inline;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  text-align: start;
}

.productList_title:hover {
  color: #9e0a0a;
  text-decoration:underline;
}

/* 結帳 */
.product_content_checkout {
  display: flex;
  background-color: #e2dad3;
  align-content: center;
  height: 100px;
}

.product_content_checkout li {
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
}

.product_content_checkout > .checkout_total_amount {
  color: #ea0000;
}

.product_content_checkout > .checkout_product_number {
  width: 50%;
  border-left: white 0 solid;
  border-right: white 0 solid;
  font-weight: normal;
  text-align: start !important;
  padding-left: 30px;
}

/* -------------------------------------------------------- */
/* 訂單的「付款資訊」 */
/* -------------------------------------------------------- */

.order_payment_content{
  margin-top: 25px;
}
.payment_content_table{
  width: 100%;
}

.payment_content_table th{
  padding-left: 3px;
}
